<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="Contait-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
</head>
<body>
		<form th:action="@{/login}" method="post">
			<h2 class="text-center">Login do Painel Administrativo</h2>
			
				<input type="text" name="username" placeholder="E-mail">
		
				<input type="password" name="password" placeholder="Senha">
		
				<button>Entrar</button>
			</div>

		</form>
</body>
</html>